<!DOCTYPE html>
<html>
<head>
  <title>ContentSaas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= link_to root_url(subdomain: nil) do %>
    <strong>Content Optimizer</strong>
  <% end %>

  <% if current_account %>
    <%= link_to root_url(subdomain: current_account.subdomain) do %>
      <strong><%= current_account.name %></strong>
    <% end %> |
  <% end %>

  <% if user_signed_in? %>
      Signed in as <%= current_user.email %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>
  <%= yield %>

</body>
</html>
